<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <form action="/members/new" method="post">
        <div class="form-group">
            <label for="name">이름</label>
            <input type="text" name="name" placeholder="이름입력" id="name">

            <label for="gender">젠더</label>
            <input type="text" name="gender" placeholder="성별입력" id="gender">
        </div>
        <button type="submit">등록</button>
    </form>
 </div>
</body>
</html>