<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Gender</th>
            </tr>
            </thead>
            <tbody>
<!--th:each 타임리프 문법-->
            <tr th:each="member : ${members2}">
                <td th:text="${member.id}"></td>
                <td th:text="${member.name}"></td>
                <td th:text="${member.gender}"></td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
</body>
</html>